a {
    text-decoration: none;
    color: grey;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 231, 240);
    margin: 0px;
}
header {
    display: flex;
    justify-content: center;
    background-color: white;
}
section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#box {
    width: 550px;
    background-color: white;
    margin: 20px 0px;
}
.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.textBox {
    padding: 0px 20px;
}